<div class="mx-auto text-center">
  <table border="0">
    <tr><%= image_tag user.get_profile_image(100,100) %></tr><br><br>
    <tr><strong>Name</strong>　</tr>
    <tr><%= user.name %></tr><br><br>
    <td>follow</td>
    <td>follower</td>
    <td><%= render "relationships/follow" %></td>
  </table>
</div>