<div class="mx-auto text-center">
  <table class="table mt-2">
    <tr><%= image_tag user.get_profile_image(100,100) %></tr><br><br>
    <tr><strong>Name</strong>　</tr>
    <tr><%= user.name %></tr>
    <td>follow</td>
    <td>follower</td>
  </table>
</div>