<div class="about-image">
  <div class="about-image-content">
    <%= image_tag "logo_text1.png", width: "350px" %><br><br>
    <div class="about-image-text">
      <h4><b>
        ようこそ、ロケチリ！へ！<br>
        ロケチリ！は聖地巡礼の記録を共有できるSNSサイトです。<br>
        スクリーン越しに見た「あの日」「あの時」「あの場所」を共有しませんか？<br>
        さぁ、あなたも聖地巡礼の旅へ！！
      </b></h4>
    </div>
  </div>
</div>

