<div class="container ml-2 mt-3">
  <div class="row">
    <div class="col-3 sm-2">
       <div class="follow-btn">
         <%= render 'users/info', user: current_user %>
       </div>
      <%= render 'form', post: @post %>
    </div>

    <div class="col-8 sm-2">
      <div id="map" style="width: 1200px; height: 700px;"></div>
    </div>
  </div>
</div>


<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

function initMap () {

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });

  let inputAddress = 'tokyo';
    // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　    // map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

  　  // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location });
    } else {
      all
    }
  })
};

initMap();
</script>