<div class="mx-auto text-center">
  <table border="0">
    <tr><%= image_tag user.get_profile_image(100,100) %></tr><br><br>
    <tr><strong>Name</strong>　</tr>
    <tr><%= link_to user.name, admin_user_path(user.id) %></tr><br><br>
    <td>follow　<%=  link_to user.followings.count, admin_user_followings_path(user.id) %></td>
    <td>follower　<%= link_to user.followers.count, admin_user_followers_path(user.id) %></td>
  </table><br>
</div>