<div class="mx-auto text-center">
  <table border="0">
    <tr><%= image_tag user.get_profile_image(100,100) %></tr><br><br>
    <tr><strong><%= link_to user.name, admin_user_path(user.id) %></strong></tr>
    <td><%=  link_to user.followings.count, admin_user_followings_path(user.id) %> フォロー</td>
    <td><%= link_to user.followers.count, admin_user_followers_path(user.id) %> フォロワー</td>
    <tr class="mb-4"><strong>会員ステータス</strong>　</tr>
      <% if user.is_deleted == true %>
        <span class="text-secondary" ><strong>退会</strong></span><br><br>
      <% else %>
        <span class="text-success" ><strong>有効</strong></span><br><br>
      <% end %>
  </table><br>
</div>