  <footer class="fixed-bottom bg-dark text-white pt-3 pb-1">
    <div class="container">
    	<div class='row'>
      	<div class='mx-auto'>
      		<p>© 2022 ロケチリ！</p>
    	  </div>
      </div>
    </div>
</footer>