  <footer class="fixed-bottom text-white pt-3 pb-1" style="background-color:#0000cd" >
    <div class="container">
    	<div class='row'>
      	<div class='mx-auto'>
      		<p>© 2022 ロケチリ！</p>
    	  </div>
      </div>
    </div>
</footer>